include "hm-generated.kdl"
include "workspaces.kdl"
include optional=true "transparency.kdl"

layout {
    border {
        width 2
    }
}

layer-rule {
    match namespace="^noctalia.*(panel).*"
    match namespace="vicinae"
    background-effect {
        xray false
    }
}

layer-rule {
    match namespace="noctalia-wallpaper"
    place-within-backdrop true
}

layer-rule {
    match namespace="noctalia-bar-Linca"

    background-effect {
        blur false
    }
}

binds {
    Mod+WheelScrollDown cooldown-ms=150 {
        focus-workspace-down
    }
    Mod+WheelScrollUp cooldown-ms=150 {
        focus-workspace-up
    }
    Ctrl+Alt+T {
        spawn "kitty"
    }
    Mod+S {
        spawn-sh "kitty nu"
    }
    Mod+E {
        spawn-sh "xdg-open ~"
    }
    Mod+B {
        spawn "firefox"
    }
    Mod+Z {
        spawn "zen"
    }
    XF86Favorites {
        spawn "keepassxc"
    }
    Mod+F {
        spawn "vicinae" "toggle"
    }
    Print {
        screenshot show-pointer=false
    }
    Ctrl+Alt+A {
        // spawn-sh "grim -g \"$(slurp)\" -t png - | wl-copy -t image/png"
        spawn-sh "noctalia msg screenshot-region"
    }
    XF86AudioMute allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"
    }
    XF86AudioMicMute allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"
    }
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+"
    }
    XF86AudioPlay allow-when-locked=true {
        spawn "playerctl" "play-pause"
    }
    XF86AudioPause allow-when-locked=true {
        spawn "playerctl" "play-pause"
    }
    XF86AudioNext allow-when-locked=true {
        spawn "playerctl" "next"
    }
    XF86AudioPrev allow-when-locked=true {
        spawn "playerctl" "previous"
    }
    XF86MonBrightnessUp allow-when-locked=true {
        spawn-sh "noctalia msg brightness-up"
    }
    XF86MonBrightnessDown allow-when-locked=true {
        spawn-sh "noctalia msg brightness-down"
    }
    Mod+Q hotkey-overlay-title=null {
        close-window
    }
    Alt+F4 hotkey-overlay-title=null {
        close-window
    }
    Mod+Delete allow-inhibiting=false {
        quit
    }
    Mod+Shift+F {
        toggle-window-floating
    }
    Mod+G {
        toggle-column-tabbed-display
    }
    Shift+F11 {
        fullscreen-window
    }
    Mod+M {
        maximize-column
    }
    Mod+C {
        center-column
    }
    Mod+Tab {
        focus-workspace-previous
    }
    Mod+R {
        switch-preset-column-width
    }
}

include "noctalia.kdl"
