layout {

    focus-ring {
        active-color   "#e7bcbe"
        inactive-color "#161313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#e7bcbe"
        inactive-color "#161313"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#e7bcbe"
        inactive-color "#412628"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#e7bcbe80"
    }
}

recent-windows {
    highlight {
        active-color "#e7bcbe"
        urgent-color "#ffb4ab"
    }
}
